In [1]:
import pandas as pd

/Users/miaojiazheng/Downloads/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [62]:
budget = pd.read_csv("TB_budget_2024-02-12.csv")
# resistance = pd.read_csv("TB_dr_surveillance_2024-02-12.csv")
burden = pd.read_csv("TB_burden_countries_2024-02-12.csv")
outcome = pd.read_csv("TB_outcomes_2024-02-12.csv")
rr_burden = pd.read_csv("MDR_RR_TB_burden_estimates_2024-02-12.csv")

In [63]:
rr_burden = rr_burden[['country', 'year',  "e_rr_pct_new", "e_rr_pct_ret", 'source_rr_new', "source_rr_ret"]]

In [64]:
burden = burden[['country', 'year', 'e_inc_num']]

In [65]:
outcome = outcome[['country', 'year', 'c_new_tsr', 'mdr_coh', 'mdr_succ']]

In [66]:
budget = budget[['country', 'year', 'budget_cpp_dstb', 'budget_cpp_mdr']]

In [67]:
merged = budget.merge(burden, on=['country', 'year'])
merged = merged.merge(rr_burden, on=['country', 'year'])
merged = merged.merge(outcome, on=['country', 'year'])

In [68]:
merged

,country,year,budget_cpp_dstb,budget_cpp_mdr,e_inc_num,e_rr_pct_new,e_rr_pct_ret,source_rr_new,source_rr_ret,c_new_tsr,mdr_coh,mdr_succ
0,Afghanistan,2018,40.0,1400.0,69000,4.5,14.0,Model,Surveillance,91.0,327.0,225.0
1,Afghanistan,2019,50.0,1500.0,71000,4.4,19.0,Model,Surveillance,91.0,396.0,282.0
2,Afghanistan,2020,40.0,1000.0,71000,4.3,24.0,Model,Surveillance,95.0,315.0,234.0
3,Afghanistan,2021,50.0,1000.0,74000,4.3,31.0,Model,Surveillance,93.0,NaN,NaN
4,Albania,2018,NaN,NaN,500,1.8,15.0,Surveillance,Surveillance,89.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
855,Zambia,2021,156.0,5822.0,60000,2.2,10.0,Survey & Surveillance,Survey,92.0,NaN,NaN
856,Zimbabwe,2018,29.0,1038.0,32000,3.5,20.0,Survey & Surveillance,Survey & Surveillance,84.0,381.0,192.0
857,Zimbabwe,2019,38.0,1490.0,31000,2.9,20.0,Survey & Surveillance,Survey & Surveillance,84.0,329.0,141.0
858,Zimbabwe,2020,41.0,1016.0,29000,2.5,20.0,Survey & Surveillance,Survey & Surveillance,88.0,210.0,88.0
859,Zimbabwe,2021,50.0,1106.0,31000,2.1,20.0,Survey & Surveillance,Survey & Surveillance,90.0,NaN,NaN

In [70]:
merged["year"].value_counts()

2018    215
2019    215
2020    215
2021    215
Name: year, dtype: int64

In [71]:
merged.describe()

,year,budget_cpp_dstb,budget_cpp_mdr,e_inc_num,e_rr_pct_new,e_rr_pct_ret,c_new_tsr,mdr_coh,mdr_succ
count,860.000000,437.000000,436.000000,8.600000e+02,860.000000,860.000000,758.000000,547.000000,529.000000
mean,2019.500000,619.034325,4897.784404,4.748453e+04,3.733000,16.622558,79.129288,816.906764,515.457467
std,1.118685,8503.200191,24627.734454,2.192436e+05,5.861225,13.455671,16.329311,4333.194329,2559.999029
min,2018.000000,0.000000,0.000000,0.000000e+00,0.260000,1.100000,0.000000,0.000000,0.000000
25%,2018.750000,30.000000,1000.000000,1.800000e+02,1.300000,7.875000,75.000000,2.000000,2.000000
50%,2019.500000,45.000000,1699.500000,2.700000e+03,2.150000,14.000000,83.000000,35.000000,23.000000
75%,2020.250000,72.000000,3001.250000,1.500000e+04,3.300000,20.000000,89.000000,183.500000,128.000000
max,2021.000000,174700.000000,400000.000000,2.850000e+06,39.000000,91.000000,100.000000,60858.000000,34891.000000

In [76]:
merged.to_pickle('mtb_cleaned_data.pkl')