In [5]:
import pandas as pd

/Users/miaojiazheng/Downloads/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [6]:
# budget = pd.read_csv("TB_budget_2024-02-12.csv")
expenditure = pd.read_csv("data/TB_expenditure_utilisation_2024-02-21.csv")
burden = pd.read_csv("data/TB_burden_countries_2024-02-12.csv")
outcome = pd.read_csv("data/TB_outcomes_2024-02-12.csv")
rr_burden = pd.read_csv("data/MDR_RR_TB_burden_estimates_2024-02-12.csv")

In [7]:
rr_burden = rr_burden[['country', 'year',  "e_rr_pct_new", "e_rr_pct_ret", 'source_rr_new', "source_rr_ret"]]

In [8]:
burden = burden[['country', 'year', 'e_inc_num']]

In [9]:
outcome = outcome[['country', 'year', 'c_new_tsr', 'mdr_coh', 'mdr_succ']]

In [10]:
expenditure = expenditure[['country', 'year', "exp_cpp_dstb", "exp_cpp_mdr", "exp_fld", "exp_sld",
                        "exp_lab", "exp_mdrmgt","exp_orsrvy","exp_oth",
                        "exp_patsup","exp_prog","exp_staff"]]

In [11]:
merged = expenditure.merge(burden, on=['country', 'year'])
merged = merged.merge(rr_burden, on=['country', 'year'])
merged = merged.merge(outcome, on=['country', 'year'])

In [12]:
merged

,country,year,exp_cpp_dstb,exp_cpp_mdr,exp_fld,exp_sld,exp_lab,exp_mdrmgt,exp_orsrvy,exp_oth,...,exp_prog,exp_staff,e_inc_num,e_rr_pct_new,e_rr_pct_ret,source_rr_new,source_rr_ret,c_new_tsr,mdr_coh,mdr_succ
0,Afghanistan,2017,40.0,1400.0,3073211.0,417694.0,2463321.0,43918.0,839482.0,1805071.0,...,2764809.0,625971.0,67000,4.6,11.0,Model,Surveillance,91.0,194.0,124.0
1,Afghanistan,2018,50.0,1500.0,2828527.0,453231.0,1471438.0,423581.0,60000.0,NaN,...,6027140.0,706095.0,69000,4.5,14.0,Model,Surveillance,91.0,327.0,225.0
2,Afghanistan,2019,40.0,1000.0,1271127.0,1029396.0,2165197.0,1991641.0,168000.0,4163413.0,...,1850011.0,1956088.0,71000,4.4,19.0,Model,Surveillance,91.0,396.0,282.0
3,Afghanistan,2020,50.0,1000.0,2674973.0,2604180.0,1540184.0,150348.0,0.0,2833819.0,...,1091232.0,509385.0,71000,4.3,24.0,Model,Surveillance,95.0,315.0,234.0
4,Afghanistan,2021,50.0,1000.0,0.0,0.0,877231.0,44529.0,NaN,2284074.0,...,647272.0,289874.0,74000,4.3,31.0,Model,Surveillance,93.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,Zimbabwe,2017,21.0,1545.0,609863.0,678255.0,2298314.0,363217.0,NaN,NaN,...,2760823.0,1914270.0,33000,4.1,20.0,Survey & Surveillance,Survey & Surveillance,83.0,439.0,237.0
1071,Zimbabwe,2018,38.0,1173.0,1773922.0,1828181.0,1948619.0,367018.0,247194.0,601604.0,...,3003048.0,1339551.0,32000,3.5,20.0,Survey & Surveillance,Survey & Surveillance,84.0,381.0,192.0
1072,Zimbabwe,2019,48.0,2298.0,1027306.0,603180.0,1731680.0,758988.0,122767.0,0.0,...,3604998.0,1556935.0,31000,2.9,20.0,Survey & Surveillance,Survey & Surveillance,84.0,329.0,141.0
1073,Zimbabwe,2020,16.0,449.0,219316.0,93573.0,576015.0,102482.0,25906.0,0.0,...,3517542.0,2073781.0,29000,2.5,20.0,Survey & Surveillance,Survey & Surveillance,88.0,210.0,88.0
1074,Zimbabwe,2021,36.0,552.0,596455.0,128034.0,2890319.0,194436.0,57802.0,5308913.0,...,2155388.0,1596263.0,31000,2.1,20.0,Survey & Surveillance,Survey & Surveillance,90.0,NaN,NaN

In [13]:
merged["year"].value_counts()

2017    215
2018    215
2019    215
2020    215
2021    215
Name: year, dtype: int64

In [14]:
merged.describe()

,year,exp_cpp_dstb,exp_cpp_mdr,exp_fld,exp_sld,exp_lab,exp_mdrmgt,exp_orsrvy,exp_oth,exp_patsup,exp_prog,exp_staff,e_inc_num,e_rr_pct_new,e_rr_pct_ret,c_new_tsr,mdr_coh,mdr_succ
count,1075.000000,5.180000e+02,5.130000e+02,5.140000e+02,5.060000e+02,5.000000e+02,4.770000e+02,4.650000e+02,4.570000e+02,4.800000e+02,4.840000e+02,5.010000e+02,1.075000e+03,1075.000000,1075.000000,955.000000,734.000000,714.000000
mean,2019.000000,2.505423e+04,1.646520e+04,2.562941e+06,4.046375e+06,3.214739e+06,2.182132e+06,4.661483e+05,5.281372e+06,1.188019e+06,6.677372e+06,1.455781e+07,4.769840e+04,3.722502,16.826298,79.070157,787.525886,487.698880
std,1.414872,5.523660e+05,2.991018e+05,7.804326e+06,2.008251e+07,8.120383e+06,7.424968e+06,2.255677e+06,3.344902e+07,6.547678e+06,2.753939e+07,9.034844e+07,2.207908e+05,5.792817,13.617937,16.301930,4093.158138,2372.542015
min,2017.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.260000,0.970000,0.000000,0.000000,0.000000
25%,2018.000000,3.200000e+01,1.000000e+03,1.035662e+05,4.601550e+04,1.876820e+05,2.500000e+04,0.000000e+00,0.000000e+00,2.119600e+04,1.600000e+05,2.328070e+05,1.800000e+02,1.300000,7.900000,74.500000,2.000000,2.000000
50%,2019.000000,4.650000e+01,1.695000e+03,4.027730e+05,2.250610e+05,8.229535e+05,9.000000e+04,2.382900e+04,1.802280e+05,1.078785e+05,7.845150e+05,8.717910e+05,2.700000e+03,2.100000,14.000000,83.000000,30.000000,22.500000
75%,2020.000000,7.500000e+01,3.038000e+03,1.575012e+06,1.213245e+06,2.404922e+06,6.719780e+05,1.676280e+05,1.309836e+06,3.918862e+05,3.035439e+06,3.300000e+06,1.500000e+04,3.300000,20.000000,89.000000,184.750000,126.750000
max,2021.000000,1.256972e+07,6.772522e+06,6.692966e+07,2.548537e+08,7.547487e+07,6.731181e+07,2.628732e+07,3.617290e+08,9.328951e+07,2.628734e+08,9.778924e+08,2.930000e+06,39.000000,97.000000,100.000000,60858.000000,34891.000000

In [15]:
merged.to_pickle('mtb_cleaned_data_new.pkl')